body {
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:lightblue;
}

.top {
    background-color: rgb(54, 54, 54);
    padding: 30px;
    margin: 0;
}

.code {
    padding: 2px;
    background-color: rgb(24, 24, 24);
    border-radius: 2px;
    color: lightpink;
}

.intro {
    margin: 0;
    margin-bottom: 10px;
    color: lightcoral;
}

.intro2 {
    margin: 0;
}

.contents {
    margin-top: 7px;
    margin-bottom: 7px;
}

.discord-id {
    margin-top: 0;
    background-color: gray;
    border-radius: 20px;
    width: 100pt;
    text-align: center;
    padding: 10px;
}

.divider {
    margin-top: 20px;
    padding: 30px;
    background-color: rgb(54, 54, 54);
}