body {
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-family: monospace;
    color: pink;
}

a {
    text-decoration: none;
    color:lightblue;
}

ul {
    padding-left: 2%;
    list-style-type: "- ";
}

li {
    margin-bottom: 2px;
}

code {
    padding: 2px;
    background-color: rgb(24, 24, 24);
    border-radius: 2px;
    color: lightpink;
}