body {
    margin: 15px;
    padding: 12px;
    background-color: #6363b5;
    color: #ededfc;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #a7a7ef;
}

ul {
    padding-left: 2%;
    list-style-type: "+ ";
}

li {
    margin-bottom: 2px;
}

code {
    padding: 2px;
    background-color: rgb(24, 24, 24);
    border-radius: 2px;
    color: #8181e2;
}

.indent-ul {
    margin-bottom: 1%;
}

.indent-li {
    margin-left: 2%;
}

.intro {
    margin: 0;
    margin-bottom: 10px;
    color: #6363b5;
}

.divider {
    margin-top: 10px;
    padding: 30px;
    background-color: #10101e;
}

.altcode {
    font-family: monospace;
    font-size: 15px;
    border-radius: 2px;
    color: #9f9ff4;
}

.footer {
    margin-top: 30px;
}